body {
    font-family: Arial, sans-serif;
    background-color: white;  
    color: #2e7d32;           
    padding: 20px;
    text-align: center;
}

h1 {
    color: #2e7d32;
}

p {
    color: #4caf50;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px; /* Espaciado entre botones */
}

button:hover {
    background-color: #388e3c;
}

